.Admin{
    width: 100%;
    height: calc(100vh - 96px);
    display: flex;

    #movieAdding{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: inherit;
        // background-color: antiquewhite;
        gap: .5rem;

        #infoDiv{
            width: 30rem;
            height: 30rem;
            background-color: #BFACE2;

                        display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
        }

        h2{
            font-family: "Kaushan Script", cursive;
    font-size: 2rem;
    color: #645CBB
        }

        span{
            display: flex;
            justify-content: space-between;
    width: 80%;
            gap: 1rem;
            font-style: italic;
    font-size: 1.1rem;
    font-weight: 500;

            input{
                width: 30rem;
                height: 1.5rem;
            }

            .dateinput{
                width: 100%;
                height: 1.5rem;
                gap: 10rem;
            }
        }

        #text{
            width: 80%;
            // height: 0rem;
        }

        #dates{
            width: 100%;
    display: flex;
   justify-content: space-evenly;
    align-items: center;
        }

        
        #btn {
            display: flex;
            justify-content: center;
            align-items: center;
          
            border: none;
            font-size: 1.3rem;
            gap: .5rem;
            padding: 6px;
            color: white;
            height: 2.5rem;
            width: 10rem;
            background-color: #BFACE2;
        }

        #btn:hover{
            background-color: #645CBB;
            
        }
    }

    .movieUpdate{
        width: 60%;
        height: inherit;
        background-color: aquamarine;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2{
            position: absolute;
            top: 8rem;
            left: 63rem;
        }

        // .dataDiv{
        //     width: 15rem;
        //     height: 15rem;
        // }
    }
}




