.Admin{
    width: 100%;
    height: calc(100vh - 96px);
    display: flex;

    #movieAdding{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: inherit;
        // background-color: antiquewhite;
        gap: 2rem;

        #infoDiv{
            width: 30rem;
            height: 26rem;
            background-color: aqua;
            display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
        }

        // h2{
        //     position: absolute;
        //     top: 8rem;
        // }

        span{
            display: flex;
            justify-content: space-between;
    width: 80%;
            gap: 1rem;

            input{
                width: 11rem;
            }

            .dateinput{
                width: 100%;
                height: 1.5rem;
                gap: 10rem;
            }
        }

        #text{
            width: 80%;
            // height: 0rem;
        }

        #dates{
            width: 100%;
    display: flex;
   justify-content: space-evenly;
    align-items: center;
        }

        
        #btn {
            display: flex;
            justify-content: center;
            align-items: center;
            // background: none;
            border: none;
            font-size: 1.3rem;
            gap: .5rem;
            padding: 6px;
            color: rgb(3, 121, 132);
            // position: absolute;
            // bottom: 3rem;
            width: 10rem;
        }

        #btn:hover{
            background-color: rgb(3, 121, 132);
            color: white;
        }
    }

    .movieUpdate{
        width: 60%;
        height: inherit;
        background-color: aquamarine;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2{
            position: absolute;
            top: 8rem;
            left: 63rem;
        }

        // .dataDiv{
        //     width: 15rem;
        //     height: 15rem;
        // }
    }
}




