* {
    margin: 0;
    padding: 0;
}

.homeComponent {
    // width: 100%;
    // height: 100vh;
    // background-image: url('./assets/homebg.jpg');
    // background-repeat: no-repeat;
    // background-size: 100%;

    header {
        display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 6rem;
    background-color: #645CBB;

    #adminBtn{
        width: 16rem;
        height: 2rem;
        position: absolute;
        left: 7rem;
        font-size: 1rem;
        // background-color: white;
        color: #0B2447;
    font-weight: 600;
    padding: 6px;
    border-radius: 6px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }

    #adminBtn:hover{
        background-color: #2a539c;
        color: white;
    }


        h1{
            color: white;
            font-family: 'Kaushan Script', cursive;
            font-size: 3rem;
            position: absolute;
            left: 36rem;
        }

        details{
            position: absolute;
            right: 8rem;
        }

        #accBtn{
            position: absolute;
            right: 8rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 10px;
    font-size: 1rem;
    color: #0B2447;
    font-weight: 600;
    // background-color: white;
                
                
    
        }

        #accBtn:hover{
            background-color: #2a539c;
            color: white;
        }

        #logoutBtn{
            position: absolute;
            right: 7.9rem;
            top: 5.7rem;
            margin-top: 4px;
            background-color: #0B2447;
            border: none;
            color: white;
    width: 10rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 600;


    #logoutIcons{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
        }

        #logoutBtn:hover{
            background-color: #2a539c;
            color: white;
        }



        #buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 8rem;
            height: 2rem;
            position: absolute;
            right: 8rem;
            background-color: white;

    //         p{
    //             position: absolute;
    // top: 2px;
    // left: 4rem;
    // font-weight: 700;
    //         }

            button {
                border: none;
                width: 4rem;
                height: 2rem;
                background-color: white;
                color: #0B2447;
                font-weight: 600;
                font-size: 1rem;
            }

            button:hover{
                background-color: #0B2447;
                color: white;
            }
        }

        
    }

    

    

}
